﻿body {

}


.table-bordered .style1 {
    height: 25px;
    width: 25px;
    border: 2px solid ;
    background-color: green;
}



.table-bordered .Fail {
    height: 25px;
    border: 1px solid black;
    width: 25px;
    font-size: 15px;
    color: black;
}

.table-bordered .StyleWrong {
     border: 1px solid black;
    height: 25px;
    width: 25px;
    font-size: 15px;
    color: red;
 text-align: center;
    vertical-align: middle;
   
   
}


