﻿@using mvc_statki_02.ViewModel
@model MapViewModel
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ships - game</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<table class="table-bordered">
    <tbody>
    @for (int i = 0; i < Model.HighMap; i++)
    {
        <tr>
            @for (int j = 0; j < Model.LengthMap; j++)
            {
                if (Model.Fields.FirstOrDefault(x => x.X == j && x.Y == i && x.State == State.Miss) != null)
                {
                    <td class="Fail"> . </td>
                }
                else if (Model.Fields.FirstOrDefault(x => x.X == j && x.Y == i && x.State == State.Shoted) != null)
                {
                    <td> X </td>
                }
                else
                {
                    <td class="StyleWrong"></td>
                }

            }
        </tr>
    }
    </tbody>
</table>
   @Html.DisplayFor(model => model.NamePlayer)
</body>
</html>
