﻿
@model  mvc_statki_02.ViewModel.MapViewModel
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>>Ships - game</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<br>
<br>
    @*<div ng-controller="gameoverCtrl">


    </div>*@


    @Html.ActionLink("nowa gra", "ShowMap")
</body>
</html>
