﻿
@{
    ViewBag.Title = "ShowMap";
}


@using mvc_statki_02.ViewModel
@model List<mvc_statki_02.ViewModel.MapViewModel>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ships - game</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <table class="table-bordered">
                <tbody>
                    @for (int i = 0; i < Model.First(x => x.IsGo).HighMap; i++)
                    {
                        
                        <tr>
                            @for (int j = 0; j < Model.First(x => x.IsGo).LengthMap; j++)
                            {
                                if (Model.First(x => x.IsGo).Fields.FirstOrDefault(x => x.X == j && x.Y == i && x.State == State.Ship) != null)
                                {
                                    <td class="style1"></td>
                                }
                                else if (Model.First(x => x.IsGo).Fields.FirstOrDefault(x => x.X == j && x.Y == i && x.State == State.Shoted) != null)
                                {
                                    <td class="Sink">X</td>
                                }
                                else
                                {
                                    <td class="StyleWrong"></td>
                                }

                            }
                        </tr>
                    }
                </tbody>
            </table>
            @Html.DisplayFor(model => model.First(y => y.IsGo).NamePlayer)

        </div>
        
            <div>
                @if (Model.FirstOrDefault(x => x.IsWinner) != null)
                {
                    @Html.Partial("GameOver", Model.First(x => x.IsWinner))
                }
              
            </div>
      
        <div class="col-md-6">
            @Html.Partial("_PartialMapOpponent", Model.First(x => x.IsGo == false))
        </div>
    </div>


















    <div class="col-md-2">


        @using (Html.BeginForm("ShowMap", "Game", FormMethod.Post))
            {
            <div class="form-inline">

                @Html.HiddenFor(x => x.First(y => y.IsGo).IdPlayer)
                @Html.HiddenFor(x => x.First(y => y.IsGo).NamePlayer, Model.First(y => y.IsGo).NamePlayer)
                @Html.HiddenFor(x => x.First(y => y.IsGo).IdOpponent, Model.First(y => y.IsGo).IdOpponent)

                <label>Poziomo: </label>
                @Html.DropDownListFor(x => x.First(y => y.IsGo).ShotX, new SelectList(Enumerable.Range(0, 6)))
               
                <label>Pionowo: </label>
                @Html.DropDownListFor(x => x.First(y => y.IsGo).ShotY, new SelectList(Enumerable.Range(0, 6)))
                <br>
                <div class="form-group">
                    <div>
                        <input type="submit" value="GO" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        </div>

</body>
</html>
