﻿
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Players", FormMethod.Post))
{
    <br>
    <div class="col-md">
        <div class="col-md-10 ">
            <label>Player 1 nick: </label>
            @Html.TextBox("player1")<br>
        </div>
        <div class="col-md-10">
            <label>Player 2 nick: </label>
            @Html.TextBox("player2")
            <div class="form-group">
                <button type="submit" class="btn btn-default"> GO </button>
            </div>
        </div>
           
        </div>
}
      


      

